@import '~antd/dist/antd.min.css';
@import 'src/styles/variables.scss';

#root, .app {
  height: 100%;

  &__header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 20;
    background-color: #fff;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
  }
}
body {
  background:  #f2f2f2;
}