@import 'src/styles/variables.scss';
$bow-shadow: rgba(0,0,0,0.05);

.home {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 5%;
  box-shadow: 0px 0 10px rgba(0,0,0,0.08);
  position: relative;
  border-radius: 5px;


  &__dialog--list {
    width: 400px;
    border-right: 1px solid $light-grey;
    // box-shadow: 5px 0px 3px -3px $bow-shadow;

    .header {
      padding: 15px;

      &__title {
        width: 320px;
        display: inline-block;
        margin-left: 10px;
        font-weight: 500;
        font-size: 15px;
      }

      &__icon {
        color: rgba(0,0,0,.45);
      }

      input {
        margin-top: 15px;
        border-radius: 3px;
        border-color: $light-grey;
        background-color:  $light-grey;
        font-weight: 300;
        font-size: 12px;
      }

      .ant-input-suffix {
        margin-top: 10px;
      }
    }
  }

  &__dialog--content {
    width: calc(100% - 400px);

    .header {
      text-align: center;
      font-weight: 500;

      &__title {
        display: block;
        padding-top: 10px;
      }

      &__status {
        display: block;
        font-weight: 400;
        color: $accent-grey;
        font-size: 12px;
      }
    }

    .content {
      padding: 10px 20px;
    }
  }

  &__dialog--message {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 440px);
    height: 50px;
    bottom: 30px;
    left: 400px;
    padding: 10px;
    i.anticon-smile {
      font-size: 16px;
      margin-right: 5px;
    }
    button {
      border: none;
    }
  }
}