@import 'src/styles/variables.scss';

.audio-message {
  .message {
    position: relative;

    &__content--text {
      position: relative;
      display: flex;
      min-width: 300px;
      align-items: center;
    }
  
    &__content--duration {
      padding-left: 10px;    
      font-size: 12px;
      opacity: 0.6;
    }
  
    .anticon svg {
      width: 20px;
      height: 20px;
    }
  
    .process__item {
      margin-left: 5px;
      width: 8px;
      height: 8px;
    }

    &__process {
      position: absolute;
      width: 10px;
      height: 43px;
      top: 0px;
      left: 0px;
      background-color: white;
      opacity: 0.2;
    }
  }
}